[submodule "src/ext/glog"]
	path = src/ext/glog
	url = https://github.com/google/glog.git
[submodule "src/ext/openexr"]
	path = src/ext/openexr
	url = https://github.com/wjakob/openexr.git
[submodule "src/ext/zlib"]
	path = src/ext/zlib
	url = https://github.com/mitsuba-renderer/zlib.git
[submodule "src/ext/--force"]
	path = src/ext/--force
	url = https://github.com/wdas/ptex.git
